.container {
  max-width: 1440px;
  margin: 15px auto;
  padding: 15px;
  text-align: center;
  background-image: url(https://krot.info/uploads/posts/2020-01/1579314272_60-105.jpg);
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.homeTitel {
  /* background: #fff4ed; */
  padding: 50px 20px;
  text-align: center;
}
.homeTitel h1 {
  font-family: "Open Sans", sans-serif;
  position: relative;
  color: #9f3cd9;
  font-size: 3em;
  font-weight: normal;
  line-height: 1;
  padding: 10px 0;
  margin: 0;
  display: inline-block;
}
.homeTitel h1:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 200%;
  border-radius: 50%/30%;
  border: 6px solid #9f3cd9;
  border-left-color: transparent;
  border-right-color: transparent;
}
@media (max-width: 420px) {
  .homeTitel h1 {
    font-size: 2em;
  }
}
.movieList {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.movieItem {
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.movieItemImage {
  width: 100%;
  height: 450px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movieItemImage:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

.movieItemTitel {
  /* background: #fff4ed; */
  padding: 5px 2px;
  text-align: center;
}
.movieItemTitel h3 {
  font-family: "Righteous", cursive;
  position: relative;
  color: #9f3cd9;
  display: inline-block;
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 1em;
  padding: 5px 15px;
  margin: 0;
  line-height: 1;
  min-height: 32px;
  min-width: 90%;
}
.movieItemTitel h3:before,
.movieItemTitel h3:after {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  border-left: 2px solid;
  border-right: 2px solid;
  background: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 2px,
    #3ca1d9 2px,
    #3cd963 4px
  );
}
.movieItemTitel h3:before {
  left: 0;
}
.movieItemTitel h3:after {
  right: 0;
}
@media (max-width: 80px) {
  .movieItemTitel h3 {
    font-size: 2em;
  }
}

.bar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background: radial-gradient(
        2rem,
        rgba(255, 255, 255, 0) 80%,
        #778691 80%,
        #778691 99%,
        rgba(255, 255, 255, 0)
      )
      0 0,
    radial-gradient(
        2rem,
        rgba(255, 255, 255, 0) 80%,
        #778691 80%,
        #778691 99%,
        rgba(255, 255, 255, 0)
      )
      2em 2em,
    radial-gradient(
        2.3rem,
        rgba(255, 255, 255, 0) 50%,
        #b1c2b3 50%,
        #b1c2b3 75%,
        #b1c2b3 99%,
        rgba(255, 255, 255, 0)
      )
      2em 2em,
    radial-gradient(
        2.3rem,
        rgba(255, 255, 255, 0) 50%,
        #b1c2b3 50%,
        #f5fcd0 75%,
        #b1c2b3 99%,
        rgba(255, 255, 255, 0)
      )
      0 0;
  background-size: 4rem 4rem;
  background-color: #f5fcd0;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.searchButton {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  background-image: url("https://image.flaticon.com/icons/svg/149/149852.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.searchButton:hover {
  opacity: 1;
}

.searchButtonLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.searchInput {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.searchInput::placeholder {
  font: inherit;
  font-size: 18px;
}
